In [10]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:1234@34.72.116.165/test?charset=utf8mb4")

In [11]:
from pydrive.drive import GoogleDrive

drive = GoogleDrive(gauth)

In [1]:
with engine.connect() as con:
    result = con.execute("SELECT CURDATE();")

for row in result:
    print(row)

In [2]:
from pydrive.auth import GoogleAuth

gauth = GoogleAuth()
gauth.LocalWebserverAuth()

In [61]:
def getFiles(folder:str,fileFormat:str=".csv"):
    folder_id = ''

    file_list = drive.ListFile({'q': "'1THD1cqlgpxsNj1ZFeQeg255Ne0As6DQL' in parents and trashed=false"}).GetList()
    for file in file_list:
        if(file['title'] == folder):
            folder_id = file['id']
            break
    
#     print('folder title: %s, folder id: %s' % (folder, folder_id))
          
    query_str = f"title contains '{fileFormat}' and '{folder_id}' in parents and trashed=false"  
    
    file_list = drive.ListFile({'q': query_str}).GetList()
    
    return file_list

In [62]:
file_list = getFiles("Race",".csv")

for file1 in file_list:
    print('title: %s, id: %s' % (file1['title'], file1['id']))

title: WY.csv, id: 1dEd_YLn4QuaEi9YuuFbN6RTMwhLwOv7I
title: WA.csv, id: 1ywdoyAe1FEOGl8DKuvKvEoBbGEf0yUrL
title: SD.csv, id: 174lcMb1VXV0ej0vkrLtmQVheGWacZfrg
title: VT.csv, id: 1157MwQ0ZUdbCJriHlkBwDmcVnqNwkvCc
title: USA_All_States.csv, id: 135tJUBtrc1jcVxy4p5nz6BaRcbx6JXL1
title: PA.csv, id: 169_fkFU6NwK3NPa15q6bJok89Krq3_2b
title: WV.csv, id: 1PAbRGCz9OWSPqb-klCad5OCYfJGIA5q-
title: RI.csv, id: 1eaNxhztt_gm6lHEBCEdVJsEEiTVLZ5d-
title: WI.csv, id: 1uWtbL52nroxgibYaBk-JXU7VnvqpZO1x
title: USA.csv, id: 1lglMnLn1ELe7rbjvDo76sTuKobFXgFgb
title: SC.csv, id: 1Js4X2yF5vWAxlcknU-JURi0OuteZKxkr
title: TN.csv, id: 19pLmEW6Xo8y7UL0fwvBVwLT3LONPtcFP
title: VA.csv, id: 1YqvfdX3-6F9Pw7EsjAFcSOfTEEhHPvhj
title: PR.csv, id: 1gndWWhe15BDzv4EqoOTPkep2elr7zjdv
title: UT.csv, id: 19DegQ0mQ1y5xKmCymlj5NuppgYyP7w5b
title: USA_ZCTA.csv, id: 13rlnh1IK31S8BimYAttL_rynzV1qZCHW
title: TX.csv, id: 1t8QAb_GXQEj8NsqJixWyeUtP9HNnQvMu
title: IL.csv, id: 1IGM7RFl9OLAY_x2W6C7h1RblVCr-lgRi
title: MT.csv, id: 1VSZ8ffWFxGQ4NbtPPCo0OTJudlzHQeMz
title: KY.csv, id: 17rX5g67xlLjgH0VmrVHnL6pU4PRONsEr
title: OR.csv, id: 1fEbM5FWOhul_TXmHUBFzX9qZQQmVszKg
title: NV.csv, id: 1X8Qb-WTXi4L0I6BMbHKl53Fg0I8Y1l4I
title: ND.csv, id: 1wDurZtHtQMXKoUONwwxr0ywQCpCy5ztf
title: MA.csv, id: 1zXKlxt3O_BfXEVaid6rhtivv3o2hmHcn
title: MI.csv, id: 1-hQvn8mqw1gEGYEtByxaC33G_jxLdQAa
title: MO.csv, id: 1fiALaOpWn0KduGKvU_qwktpG3XUfEwnJ
title: MN.csv, id: 1mog3c6PV_QBbzYf7V6QVXXgkCONprqOi
title: MS.csv, id: 1jkKlL7KULLqsCMD04j1uvYULn2Id0E11
title: NJ.csv, id: 1xD1F7Ei7o3r_BLR_Pnb4G_cg4JCp7nKA
title: NH.csv, id: 1aKB6eGIGGAe1xoBMDdFxxisrI5APg4Uf
title: OH.csv, id: 1Ha4Lop8BpjKh40YNL7RMDwrOBhwKi3Rs
title: OK.csv, id: 1mkM4jbJeIvByotwn231itJ7DfbanRBpA
title: MD.csv, id: 1wOLG4d7sSzp7NK0GRf7gOqVnuTOSkSzf
title: ID.csv, id: 1MYd8tdBgZvjWEs6sbdjH0fPhViPzGdyF
title: IN.csv, id: 1H6DmwYH-2myTsMxO3BUnlXrRxeYgYX4i
title: KS.csv, id: 1GFAdSk6ZUp3w7Nnp8wUcRYyMXf1v3zZ4
title: ME.csv, id: 1HCTnCSpKyZr9WGqUy8VckEPefk79wRm0
title: NY.csv, id: 1o8UY4thcSvP5oK8VedelfnNLvl6Ia1wf
title: NM.csv, id: 1vJ4twxKUK9-vugvX61KvkIgIX3SG_GP_
title: LA.csv, id: 1UFfWM9fK15FopRdOC57EGX1Igkr2Kvvu
title: NC.csv, id: 10r-M6kP7QcVdR1ndVpBPESr4ZubYChLm
title: NE.csv, id: 1T7KIE07VUCAgcAQd2n-IrbWGtWfyNQV5
title: CA.csv, id: 14mxLYstMa-d4sb2n4ONW22ellifnizwo
title: AR.csv, id: 1Cb0Rs-ItA-7tO4kiG94D3OkZKFBuHWvi
title: 01_TableKey.csv, id: 193jxX5LwbYEq12TRD4mOVkrG0unhESQ2
title: AK.csv, id: 1z5U8Cbaalq8mO2hcNT7S2EA2ByZo-i-5
title: IA.csv, id: 1v7sV8yeMyg6F35jLuvosDICFPgPvPDMu
title: 02_ColumnKey.csv, id: 18SjLqpZ-tBelL95LWhu9KHL2kQkGByAk
title: FL.csv, id: 1Fh6LRvUFdH8ByzRZzgjcgUVbgDg3jK3S
title: GA.csv, id: 1B8KpturgTCNWTgLMpHmW-bgK6U6TYnOd
title: CT.csv, id: 1_cshscYTo3_26AIi9KIbahHXCvNhQFpq
title: DE.csv, id: 1AYxkVaTDbSKJwc7YtS0HLJZf4dqXyGd-
title: HI.csv, id: 1QylF4F9D6cIBZrPQKpaVIzwsPdI4WKqi
title: AL.csv, id: 1mc34EZ3R5OZwrSbRbvsxKyuKLXnIQDD3
title: CO.csv, id: 10Ygv5U9OcZtHhqlekVEnwFzmlu7vitLV
title: AZ.csv, id: 1wqtqMkA3E_O0RbZGIAvehtCalrvtXPz3
title: DC.csv, id: 1Ertb7t-1hlTWR-mkzH4hhvJT62UjXrm4

In [57]:
import pandas as pd
from io import StringIO
import re

r = re.compile(r'([A-Z]){2}.csv')

df = pd.DataFrame()


desired_files = list(filter(lambda i: r.match(i["title"]), file_list))

print(len(desired_files))
print([i["title"] for i in desired_files])

52
['WY.csv', 'WA.csv', 'SD.csv', 'VT.csv', 'PA.csv', 'WV.csv', 'RI.csv', 'WI.csv', 'SC.csv', 'TN.csv', 'VA.csv', 'PR.csv', 'UT.csv', 'TX.csv', 'IL.csv', 'MT.csv', 'KY.csv', 'OR.csv', 'NV.csv', 'ND.csv', 'MA.csv', 'MI.csv', 'MO.csv', 'MN.csv', 'MS.csv', 'NJ.csv', 'NH.csv', 'OH.csv', 'OK.csv', 'MD.csv', 'ID.csv', 'IN.csv', 'KS.csv', 'ME.csv', 'NY.csv', 'NM.csv', 'LA.csv', 'NC.csv', 'NE.csv', 'CA.csv', 'AR.csv', 'AK.csv', 'IA.csv', 'FL.csv', 'GA.csv', 'CT.csv', 'DE.csv', 'HI.csv', 'AL.csv', 'CO.csv', 'AZ.csv', 'DC.csv']

In [58]:
x = []

for file in desired_files:
    each_file = drive.CreateFile({'id': file['id'] })
    file_buffer = StringIO(each_file.GetContentString())
    df_each_file = pd.read_csv(file_buffer)
    print(df_each_file.shape)
    df = df.append(df_each_file)

(249, 225)
(709, 225)
(483, 225)
(154, 225)
(1895, 225)
(491, 225)
(51, 225)
(899, 225)
(478, 225)
(572, 225)
(764, 225)
(356, 225)
(381, 225)
(2118, 225)
(1533, 225)
(440, 225)
(703, 225)
(450, 225)
(173, 225)
(475, 225)
(289, 225)
(836, 225)
(1196, 225)
(1036, 225)
(483, 225)
(592, 225)
(128, 225)
(1378, 225)
(859, 225)
(571, 225)
(301, 225)
(831, 225)
(814, 225)
(164, 225)
(1322, 225)
(510, 225)
(575, 225)
(905, 225)
(701, 225)
(1679, 225)
(655, 225)
(401, 225)
(1149, 225)
(1053, 225)
(849, 225)
(173, 225)
(91, 225)
(173, 225)
(697, 225)
(558, 225)
(498, 225)
(9, 225)

In [52]:
df.head()

,SummaryLevel,State,StateFIPS,CountyFIPS,PlaceFIPS,CBSACode,CongressDistrict,GEOID,AreaName,B02001_001,...,C02003_010,C02003_011,C02003_012,C02003_013,C02003_014,C02003_015,C02003_016,C02003_017,C02003_018,C02003_019
0,40,WY,56,NaN,NaN,NaN,NaN,04000US56,Wyoming,583029,...,2015,13516,14548,2734,7039,1887,144,2744,928,55
1,40,WY,56,NaN,NaN,NaN,NaN,04001US56,Wyoming -- Urban,377081,...,1672,9649,10384,2225,4340,1510,105,2204,882,55
2,40,WY,56,NaN,NaN,NaN,NaN,04043US56,Wyoming -- Rural,205948,...,343,3867,4164,509,2699,377,39,540,46,0
3,40,WY,56,NaN,NaN,NaN,NaN,040A0US56,Wyoming -- In metropolitan or micropolitan sta...,422574,...,1582,10331,11067,2081,5251,1529,95,2111,797,49
4,40,WY,56,NaN,NaN,NaN,NaN,040C0US56,Wyoming -- In metropolitan statistical area,177330,...,873,4610,4938,1200,1833,668,66,1171,503,42

In [54]:
df.describe()

,SummaryLevel,StateFIPS,CountyFIPS,PlaceFIPS,CBSACode,CongressDistrict,B02001_001,B02001_002,B02001_003,B02001_004,...,C02003_010,C02003_011,C02003_012,C02003_013,C02003_014,C02003_015,C02003_016,C02003_017,C02003_018,C02003_019
count,34850.000000,34850.000000,3220.000000,29574.000000,1019.000000,437.000000,3.485000e+04,3.485000e+04,3.485000e+04,34850.000000,...,34850.000000,3.485000e+04,3.485000e+04,34850.000000,34850.000000,34850.000000,34850.000000,34850.000000,34850.000000,34850.000000
mean,156.712195,29.986141,102.922050,41766.475147,29753.611384,10.560641,8.055022e+04,5.875335e+04,1.025253e+04,640.516872,...,395.960029,2.139491e+03,2.314691e+03,695.194232,470.670416,497.937934,81.115839,569.772999,202.131535,18.627948
std,59.609547,15.850602,106.693846,24175.438611,11395.310280,12.176986,7.530629e+05,5.183620e+05,1.024606e+05,6476.546451,...,5661.540235,2.177621e+04,2.471811e+04,6534.540372,4658.420493,6800.293058,804.731452,7817.365289,2468.632574,257.451656
min,40.000000,1.000000,1.000000,65.000000,10100.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,160.000000,18.000000,35.000000,21034.000000,19840.000000,3.000000,4.200000e+02,3.380000e+02,0.000000e+00,0.000000,...,0.000000,0.000000e+00,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,160.000000,30.000000,79.000000,41698.000000,29700.000000,6.000000,1.677500e+03,1.382500e+03,2.100000e+01,2.000000,...,0.000000,2.500000e+01,2.700000e+01,2.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,160.000000,42.000000,133.000000,62020.000000,39440.000000,13.000000,9.507750e+03,7.446750e+03,4.450000e+02,47.000000,...,22.000000,1.970000e+02,2.130000e+02,59.000000,51.000000,27.000000,0.000000,34.000000,8.000000,0.000000
max,500.000000,72.000000,840.000000,89760.000000,49820.000000,98.000000,3.865421e+07,2.368058e+07,3.221133e+06,296732.000000,...,399908.000000,1.387251e+06,1.629376e+06,245814.000000,285119.000000,505122.000000,39246.000000,554075.000000,143526.000000,14257.000000

In [63]:
df.shape

(34850, 225)