In [13]:
import pandas as pd
from io import StringIO
import re

In [1]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:1234@34.72.116.165/test?charset=utf8mb4")

In [2]:
from pydrive.auth import GoogleAuth

gauth = GoogleAuth()
gauth.LocalWebserverAuth()

Your browser has been opened to visit:

    https://accounts.google.com/o/oauth2/auth?client_id=1092507140201-83cf9vvc8so2a2tbhebc6tf5kcrf038m.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&access_type=offline&response_type=code

Authentication successful.

In [4]:
from pydrive.drive import GoogleDrive

drive = GoogleDrive(gauth)

In [6]:
with engine.connect() as con:
    result = con.execute("SELECT CURDATE();")

for row in result:
    print(row)

(datetime.date(2021, 5, 5),)

In [7]:
def getFiles(folder,parent_folder_id,drive,fileFormat=".csv"):
    folder_id = ''

    file_list = drive.ListFile({'q': f"'{parent_folder_id}' in parents and trashed=false"}).GetList()
    for file in file_list:
        if(file['title'] == folder):
            folder_id = file['id']
            break
    
#     print('folder title: %s, folder id: %s' % (folder, folder_id))
          
    query_str = f"title contains '{fileFormat}' and '{folder_id}' in parents and trashed=false"  
    
    file_list = drive.ListFile({'q': query_str}).GetList()
    
    return file_list

In [9]:
def files_to_dataframe(files,filter_regex,column_names_dict,drive):
    r = re.compile(fr'{filter_regex}')
    df = pd.DataFrame()
    desired_files = list(filter(lambda i: r.match(i["title"]), files))
    for file in desired_files:
        each_file = drive.CreateFile({'id': file['id'] })
        file_buffer = StringIO(each_file.GetContentString())
        df_each_file = pd.read_csv(file_buffer)
        df = df.append(df_each_file)
    df_selected = df[column_names.keys()]
    df_renamed = df_selected.rename(columns=column_names)
    return df_renamed

In [18]:
def to_sql(df,table_name,engine):
    with engine.begin() as transaction:
        df.to_sql(table_name, con=transaction, schema='test', if_exists='append', index=False)

In [11]:
column_names = { 
    "State":"state",
    "StateFIPS":"State_FIPS",
    "CountyFIPS":"county_FIPS",
    "AreaName": "area_name",
    "B02001_007":"population_other",
    "B02001_006":"population_hawaiian_pacific_islander",
    "B02001_005":"population_asian",
    "B02001_004":"population_american_indian_alaskan_native",
    "B02001_003":"population_african_american",
    "B02001_002":"population_white",
    "B02001_001":"population_total"
}

In [10]:
file_list = getFiles("Race","1THD1cqlgpxsNj1ZFeQeg255Ne0As6DQL",drive)

In [14]:
df = files_to_dataframe(file_list,'([A-Z]){2}.csv',column_names,drive)
df.head()

,state,State_FIPS,county_FIPS,area_name,population_other,population_hawaiian_pacific_islander,population_asian,population_american_indian_alaskan_native,population_african_american,population_white,population_total
0,WY,56,NaN,Wyoming,10403,391,5385,13033,6435,531851,583029
1,WY,56,NaN,Wyoming -- Urban,9175,336,4399,4692,5642,341516,377081
2,WY,56,NaN,Wyoming -- Rural,1228,55,986,8341,793,190335,205948
3,WY,56,NaN,Wyoming -- In metropolitan or micropolitan sta...,8038,345,4426,11788,5744,380320,422574
4,WY,56,NaN,Wyoming -- In metropolitan statistical area,4156,171,1868,1446,3724,160482,177330

In [19]:
to_sql(df,'race',engine)

In [20]:
table = pd.read_sql('SELECT * FROM race', con=engine)

In [21]:
table.shape

(34850, 11)