In [42]:
import pandas as pd
import os
from io import StringIO
import re

In [2]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:1234@34.72.116.165/test?charset=utf8mb4")

In [3]:
from pydrive.auth import GoogleAuth

gauth = GoogleAuth()
gauth.LocalWebserverAuth()

Your browser has been opened to visit:

    https://accounts.google.com/o/oauth2/auth?client_id=1092507140201-83cf9vvc8so2a2tbhebc6tf5kcrf038m.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&access_type=offline&response_type=code

Authentication successful.

In [4]:
from pydrive.drive import GoogleDrive

drive = GoogleDrive(gauth)

In [8]:
with engine.connect() as con:
    result = con.execute("SELECT CURDATE();")

for row in result:
    print(row)

(datetime.date(2021, 5, 13),)

In [9]:
def getFiles(folder,parent_folder_id,drive,fileFormat=".csv"):
    folder_id = ''

    file_list = drive.ListFile({'q': f"'{parent_folder_id}' in parents and trashed=false"}).GetList()
    for file in file_list:
        if(file['title'] == folder):
            folder_id = file['id']
            break
    
#     print('folder title: %s, folder id: %s' % (folder, folder_id))
          
    query_str = f"title contains '{fileFormat}' and '{folder_id}' in parents and trashed=false"  
    
    file_list = drive.ListFile({'q': query_str}).GetList()
    
    return file_list

In [52]:
def files_to_dataframe(files,filter_regex,column_names_dict,drive):
    r = re.compile(fr'{filter_regex}')
    df = pd.DataFrame()
    desired_files = list(filter(lambda i: r.match(i["title"]), files))
    for file in desired_files:
#         print(file["title"])
        each_file = drive.CreateFile({'id': file['id'] })
        try:
            file_content = StringIO(each_file.GetContentString())
            df_each_file = pd.read_csv(file_content,usecols=column_names_dict.keys())
        except:
            print(f"file {file['title']} is not utf encodable")
            filename = f"./temp/{file['title']}"
            each_file.GetContentFile(filename, mimetype='text/csv')
            with open("./temp/ND.csv", 'rb') as f:
                file_content = f.read().decode("utf-16")
            df_each_file = pd.read_csv(StringIO(file_content),usecols=column_names_dict.keys())

        df = df.append(df_each_file)
#     temp = "./temp/"
#     for file in temp:
#         os.remove(file)

#     df_selected = df[column_names_dict.keys()]
    df_renamed = df.rename(columns=column_names_dict)
    return df_renamed

In [11]:
def to_sql(df,table_name,engine):
    with engine.begin() as transaction:
        df.to_sql(table_name, con=transaction, schema='test', if_exists='replace', index=False)

In [9]:
column_names = { 
    "State":"state",
    "StateFIPS":"State_FIPS",
    "CountyFIPS":"county_FIPS",
    "AreaName": "area_name",
    "B02001_007":"population_other",
    "B02001_006":"population_hawaiian_pacific_islander",
    "B02001_005":"population_asian",
    "B02001_004":"population_american_indian_alaskan_native",
    "B02001_003":"population_african_american",
    "B02001_002":"population_white",
    "B02001_001":"population_total"
}

In [10]:
file_list = getFiles("Race","1THD1cqlgpxsNj1ZFeQeg255Ne0As6DQL",drive)

In [11]:
df = files_to_dataframe(file_list,'([A-Z]){2}.csv',column_names,drive)
df.head()

,state,State_FIPS,county_FIPS,area_name,population_other,population_hawaiian_pacific_islander,population_asian,population_american_indian_alaskan_native,population_african_american,population_white,population_total
0,WY,56,NaN,Wyoming,10403,391,5385,13033,6435,531851,583029
1,WY,56,NaN,Wyoming -- Urban,9175,336,4399,4692,5642,341516,377081
2,WY,56,NaN,Wyoming -- Rural,1228,55,986,8341,793,190335,205948
3,WY,56,NaN,Wyoming -- In metropolitan or micropolitan sta...,8038,345,4426,11788,5744,380320,422574
4,WY,56,NaN,Wyoming -- In metropolitan statistical area,4156,171,1868,1446,3724,160482,177330

In [12]:
to_sql(df,'race',engine)

In [13]:
table = pd.read_sql('SELECT * FROM race', con=engine)

In [15]:
table.shape

(34850, 11)

In [23]:
income_names = { 
    "State":"state",
    "StateFIPS":"State_FIPS",
    "CountyFIPS":"county_FIPS",
    "AreaName": "area_name",
    "B19081_001":"mean_income_lowest_quintile",
    "B19081_002":"mean_income_second_quintile",
    "B19081_003":"mean_income_third_quintile",
    "B19081_004":"mean_income_fourth_quintile",
    "B19081_005":"mean_income_highest_quintile",
    "B19081_006":"mean_income_five_percent_quintile",
}

In [28]:
income_file_list = getFiles("Income","1THD1cqlgpxsNj1ZFeQeg255Ne0As6DQL",drive)

In [34]:
df = files_to_dataframe(income_file_list,'([A-Z]){2}.csv',income_names,drive)
df.head()

c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (197,902,937,938,951,952,953,954,955,956,957,958,959,960,961,962,1170,1171,1172,1174,1182,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1383,1384,1391,1393,1394,1401) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (197,902,904,906,937,938,941,951,952,953,954,955,956,957,958,959,960,961,962,963,1170,1171,1172,1174,1182,1183,1184,1185,1189,1190,1197,1198,1352,1368,1383,1393) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (197,902,905,951,952,953,954,955,956,957,958,959,960,961,962,1383,1393) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (179,180,187,188,189,190,191,192,193,194,197,198,203,205,206,897,899,900,901,902,903,904,905,906,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,1134,1135,1142,1143,1144,1145,1146,1147,1148,1149,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1209,1210,1211,1212,1213,1214,1215,1216,1217,1342,1343,1351,1352,1353,1361,1362,1363,1364,1368,1369,1370,1371,1372,1373,1374,1376,1377,1378,1379,1380,1381,1383,1384,1385,1389,1391,1392,1393,1394,1395,1399,1401,1402,1498,1499,1500,1501,1502,1503,1504) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (904,939,946,949,1173,1174,1183,1184,1187,1191,1192,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1352,1368,1369,1370,1371,1372,1373,1374,1376,1377,1378,1379,1380,1381,1382) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (1383,1384,1391,1393,1394,1401) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (1383) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (197,198,205,902,904,905,937,938,951,952,953,954,955,956,957,958,959,960,961,962,1383,1384,1391,1393,1394,1401) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (198,205,904,905,906,937,938,940,941,1170,1171,1172,1174,1182,1183,1184,1185,1189,1190,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1352,1368,1369,1370,1372,1376,1377,1378,1379,1384,1391,1394,1401) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (197,198,205,902,904,905,937,938,951,952,953,954,955,956,957,958,959,960,961,962,1170,1171,1172,1174,1182,1184,1185,1189,1190,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1383,1384,1391,1393,1394,1401) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (904,937,938,940,947,948,1173,1185,1208,1210,1498,1504) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (179,180,187,189,190,191,192,193,194,195,197,198,199,200,204,205,206,897,898,899,900,901,902,903,904,905,906,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,1134,1135,1142,1144,1145,1146,1147,1148,1149,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1342,1343,1350,1352,1353,1354,1355,1356,1357,1358,1360,1361,1362,1363,1364,1365,1366,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1389,1390,1391,1392,1393,1394,1395,1396,1399,1400,1401,1402,1498,1499,1500,1501,1502,1503,1504) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (904,905,906,937,938,940,941,944,949,963,1154,1183,1184,1185,1352,1368,1369,1370,1371,1372,1373,1374,1376,1377,1378,1379,1380,1381,1498,1502,1504) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (963) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (197,198,205,902,904,905,951,952,953,954,955,956,957,958,959,960,961,962,1383,1384,1391,1393,1394,1401) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (198,205,905,906,1170,1171,1172,1173,1174,1182,1184,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1384,1391,1394,1401) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (197,198,205,902,905,937,938,951,952,953,954,955,956,957,958,959,960,961,962,963,1170,1171,1172,1174,1182,1185,1189,1190,1196,1383,1384,1391,1393,1394,1401) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (179,180,187,189,197,198,205,897,902,905,906,937,938,940,941,951,952,953,954,955,956,957,958,959,960,961,962,963,1170,1171,1172,1174,1182,1184,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1383,1384,1391,1393,1394,1401,1498) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (179,180,181,186,187,188,189,190,191,192,193,194,196,197,198,199,200,201,202,203,204,205,206,897,898,899,900,901,902,903,904,905,906,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,1134,1135,1136,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1342,1343,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1364,1365,1366,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1384,1385,1386,1387,1388,1389,1390,1391,1392,1394,1395,1396,1397,1398,1399,1400,1401,1402,1498,1499,1500,1501,1502,1503,1504) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (905,941,1170,1171,1172,1174,1182,1183,1184,1185,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (198,205,905,906,937,938,941,963,1170,1171,1172,1173,1174,1175,1179,1180,1182,1184,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1384,1391,1394,1401) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,state,State_FIPS,county_FIPS,area_name,mean_income_lowest_quintile,mean_income_second_quintile,mean_income_third_quintile,mean_income_fourth_quintile,mean_income_highest_quintile,mean_income_five_percent_quintile
0,WY,56,NaN,Wyoming,14736,36092,59389,89945,173176,289351
1,WY,56,NaN,Wyoming -- Urban,13650,33945,55766,85612,163933,269021
2,WY,56,NaN,Wyoming -- Rural,17221,40896,66743,97690,189641,323715
3,WY,56,NaN,Wyoming -- In metropolitan or micropolitan sta...,14693,36593,60449,91760,178206,300264
4,WY,56,NaN,Wyoming -- In metropolitan statistical area,15662,37141,59684,89762,172540,288697

In [43]:
to_sql(df,'income',engine)

In [45]:
poverty_names = { 
    "State":"state",
    "StateFIPS":"State_FIPS",
    "CountyFIPS":"county_FIPS",
    "AreaName": "area_name",
    "B17001_002":"Population_below_poverty"
}

In [47]:
file_list = getFiles("Poverty","1THD1cqlgpxsNj1ZFeQeg255Ne0As6DQL",drive)
df = files_to_dataframe(file_list,'([A-Z]){2}.csv',poverty_names,drive)
df.head()

c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (744,745,746,1178,1179,1180,1182) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (744,745,746,1178,1179,1180,1181,1182) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (744,746) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,state,State_FIPS,county_FIPS,area_name,Population_below_poverty
0,WY,56,NaN,Wyoming,65762
1,WY,56,NaN,Wyoming -- Urban,48493
2,WY,56,NaN,Wyoming -- Rural,17269
3,WY,56,NaN,Wyoming -- In metropolitan or micropolitan sta...,49056
4,WY,56,NaN,Wyoming -- In metropolitan statistical area,18145

In [48]:
to_sql(df,'poverty',engine)

In [51]:
column_names = { 
    "State":"state",
    "StateFIPS":"State_FIPS",
    "CountyFIPS":"county_FIPS",
    "AreaName": "area_name",
    "B01001_001":"total_population",
    "B01001_002":"total_population_male",
    "B01001_003":"total_population_male_under5",
    "B01001_004":"total_population_male_5-9",
    "B01001_005":"total_population_male_10-14",
    "B01001_006":"total_population_male_15-17",
    "B01001_007":"total_population_male_18-19",
    "B01001_008":"total_population_male_20",
    "B01001_009":"total_population_male_21",
    "B01001_010":"total_population_male_22-24",
    "B01001_011":"total_population_male_25-29",
    "B01001_012":"total_population_male_30-34",
    "B01001_013":"total_population_male_35-39",
    "B01001_014":"total_population_male_40-44",
    "B01001_015":"total_population_male_45-49",
    "B01001_016":"total_population_male_50-54",
    "B01001_017":"total_population_male_55-59",
    "B01001_018":"total_population_male_60-61",
    "B01001_019":"total_population_male_62-64",
    "B01001_020":"total_population_male_65-66",
    "B01001_021":"total_population_male_67-69",
    "B01001_022":"total_population_male_70-74",
    "B01001_023":"total_population_male_75-79",
    "B01001_024":"total_population_male_80-84",
    "B01001_025":"total_population_male_85+",
    "B01001_026":"total_population_female",
    "B01001_027":"total_population_female_under5",
    "B01001_028":"total_population_female_5-9",
    "B01001_029":"total_population_female_10-14",
    "B01001_030":"total_population_female_15-17",
    "B01001_031":"total_population_female_18-19",
    "B01001_032":"total_population_female_20",
    "B01001_033":"total_population_female_21",
    "B01001_034":"total_population_female_22-24",
    "B01001_035":"total_population_female_25-29",
    "B01001_036":"total_population_female_30-34",
    "B01001_037":"total_population_female_35-39",
    "B01001_038":"total_population_female_40-44",
    "B01001_039":"total_population_female_45-49",
    "B01001_040":"total_population_female_50-54",
    "B01001_041":"total_population_female_55-59",
    "B01001_042":"total_population_female_60-61",
    "B01001_043":"total_population_female_62-64",
    "B01001_044":"total_population_female_65-66",
    "B01001_045":"total_population_female_67-69",
    "B01001_046":"total_population_female_70-74",
    "B01001_047":"total_population_female_75-79",
    "B01001_048":"total_population_female_80-84",
    "B01001_049":"total_population_female_85+"
}

file_list = getFiles("Age:Sex","1THD1cqlgpxsNj1ZFeQeg255Ne0As6DQL",drive)
df = files_to_dataframe(file_list,'([A-Z]){2}.csv',column_names,drive)
df.head()

c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (337,338,339,340,341,342,343,355,356,357,361,362,363,364,365,366) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,state,State_FIPS,county_FIPS,area_name,total_population,total_population_male,total_population_male_under5,total_population_male_5-9,total_population_male_10-14,total_population_male_15-17,...,total_population_female_50-54,total_population_female_55-59,total_population_female_60-61,total_population_female_62-64,total_population_female_65-66,total_population_female_67-69,total_population_female_70-74,total_population_female_75-79,total_population_female_80-84,total_population_female_85+
0,UT,49,NaN,Utah,2948427,1483055,130142,131973,130292,72445,...,77540,74763,27673,38099,23317,29043,37663,28550,20860,19853
1,UT,49,NaN,Utah -- Urban,2669353,1340547,118893,119952,117634,64654,...,68570,65099,24166,33618,20343,25281,32672,25277,18874,17724
2,UT,49,NaN,Utah -- Rural,279074,142508,11249,12021,12658,7791,...,8970,9664,3507,4481,2974,3762,4991,3273,1986,2129
3,UT,49,NaN,Utah -- In metropolitan or micropolitan statis...,2804460,1409367,124665,125744,123643,68523,...,73311,70477,25862,35783,21773,27049,34916,26772,19576,18471
4,UT,49,NaN,Utah -- In metropolitan statistical area,2632764,1322694,117784,118362,116004,64253,...,68191,65183,24232,33049,20257,25150,32544,25023,18506,17662

In [52]:
to_sql(df,'population',engine)

In [55]:
tables = pd.read_sql_query("show tables;",engine)

In [56]:
tables

     Tables_in_test
0        disability
1  health_insurance
2            income
3        population
4           poverty
5              race

In [54]:
disability_names = { 
    "State":"state",
    "StateFIPS":"State_FIPS",
    "CountyFIPS":"county_FIPS",
    "AreaName": "area_name",
    "B18101_001":"total_disabled"
}

In [55]:
file_list = getFiles("Disability","1THD1cqlgpxsNj1ZFeQeg255Ne0As6DQL",drive)
len(file_list)

57

In [59]:
df = files_to_dataframe(file_list,'([A-Z]){2}.csv',disability_names,drive)
df.head()

,state,State_FIPS,county_FIPS,area_name,total_disabled
0,WY,56,NaN,Wyoming,573538
1,WY,56,NaN,Wyoming -- Urban,370230
2,WY,56,NaN,Wyoming -- Rural,203308
3,WY,56,NaN,Wyoming -- In metropolitan or micropolitan sta...,416205
4,WY,56,NaN,Wyoming -- In metropolitan statistical area,173208

In [60]:
to_sql(df,'disability',engine)

In [6]:
health_insurance_names = { 
    "State":"state",
    "StateFIPS":"State_FIPS",
    "CountyFIPS":"county_FIPS",
    "AreaName": "area_name",
    "B27001_001":"coverage_status_total",
    "B27002_001":"private_total",
    "B27003_001":"public_total",
    "C27004_001":"employer_based_total",
    "C27005_001":"direct_purchase_total",
    "C27006_001":"medicare_total",
    "C27007_001":"medicaid_means_tested_total"
}

In [12]:
file_list = getFiles("Health Insurance","1THD1cqlgpxsNj1ZFeQeg255Ne0As6DQL",drive)
len(file_list)

41

In [13]:
[i["title"] for i in file_list ]

['WV.csv',
 'WY.csv',
 'WI.csv',
 'WA.csv',
 'VT.csv',
 'VA.csv',
 'UT.csv',
 'USA.csv',
 'TX.csv',
 'TN.csv',
 'SD.csv',
 'SC.csv',
 'PR.csv',
 'RI.csv',
 'PA.csv',
 'OR.csv',
 'OK.csv',
 'OH.csv',
 'NY.csv',
 'NM.csv',
 'NV.csv',
 'NJ.csv',
 'NH.csv',
 'ND.csv',
 'NE.csv',
 'NC.csv',
 'MT.csv',
 'MS.csv',
 'MO.csv',
 'MN.csv',
 'MI.csv',
 'MD.csv',
 'ME.csv',
 'LA.csv',
 'MA.csv',
 'KS.csv',
 'KY.csv',
 'IN.csv',
 'IL.csv',
 'ID.csv',
 'IA.csv']

In [53]:
df = files_to_dataframe(file_list,'([A-Z]){2}.csv',health_insurance_names,drive)
df.head()

file ND.csv is not utf encodable
file ME.csv is not utf encodable
file ID.csv is not utf encodable

,state,State_FIPS,county_FIPS,area_name,coverage_status_total,private_total,public_total,employer_based_total,direct_purchase_total,medicare_total,medicaid_means_tested_total
0,WV,54,NaN,West Virginia,1817156,1817156,1817156,1817156,1817156,1817156,1817156
1,WV,54,NaN,West Virginia -- Urban,891043,891043,891043,891043,891043,891043,891043
2,WV,54,NaN,West Virginia -- Rural,926113,926113,926113,926113,926113,926113,926113
3,WV,54,NaN,West Virginia -- In metropolitan or micropolit...,1418955,1418955,1418955,1418955,1418955,1418955,1418955
4,WV,54,NaN,West Virginia -- In metropolitan statistical area,1120597,1120597,1120597,1120597,1120597,1120597,1120597

In [54]:
to_sql(df,'health_insurance',engine)