In [7]:
import pandas as pd
import os
from io import StringIO
import re
import numpy as np

In [14]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://usucyggwuwewfz7b:jrjbymlRAjffZwj3VcUO@bmrntzdzbrkwdwl6jh7t-mysql.services.clever-cloud.com:3306/bmrntzdzbrkwdwl6jh7t?charset=utf8mb4")

In [1]:
from pydrive.auth import GoogleAuth

gauth = GoogleAuth()
gauth.LocalWebserverAuth()

Your browser has been opened to visit:

    https://accounts.google.com/o/oauth2/auth?client_id=1092507140201-83cf9vvc8so2a2tbhebc6tf5kcrf038m.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&access_type=offline&response_type=code

Authentication successful.

In [2]:
from pydrive.drive import GoogleDrive

drive = GoogleDrive(gauth)

In [7]:
with engine.connect() as con:
    result = con.execute("SELECT CURDATE();")

for row in result:
    print(row)

(datetime.date(2021, 5, 17),)

In [3]:
def getFiles(folder,parent_folder_id,drive,fileFormat=".csv"):
    folder_id = ''

    file_list = drive.ListFile({'q': f"'{parent_folder_id}' in parents and trashed=false"}).GetList()
    for file in file_list:
        if(file['title'] == folder):
            folder_id = file['id']
            break
    
#     print('folder title: %s, folder id: %s' % (folder, folder_id))
          
    query_str = f"title contains '{fileFormat}' and '{folder_id}' in parents and trashed=false"  
    
    file_list = drive.ListFile({'q': query_str}).GetList()
    
    return file_list

In [4]:
def files_to_dataframe(files,filter_regex,column_names_dict,drive):
    r = re.compile(fr'{filter_regex}')
    df = pd.DataFrame()
    desired_files = list(filter(lambda i: r.match(i["title"]), files))
    for file in desired_files:
#         print(file["title"])
        each_file = drive.CreateFile({'id': file['id'] })
        try:
            file_content = each_file.GetContentString()
            file_content = StringIO(file_content)
            df_each_file = pd.read_csv(file_content,usecols=column_names_dict.keys(),engine="c")
        except:
            print(f"file {file['title']} is not utf encodable")
            filename = f"./temp/{file['title']}"
            each_file.GetContentFile(filename, mimetype='text/csv')
            with open(filename, 'rb') as f:
                file_content = f.read().decode("utf-16")
            df_each_file = pd.read_csv(StringIO(file_content),usecols=column_names_dict.keys(),engine="c")

        df = df.append(df_each_file)

        
#     temp = "./temp/"
#     for file in temp:
#         os.remove(file)

#     df_selected = df[column_names_dict.keys()]
    df_renamed = df.rename(columns=column_names_dict)
    county_level_only = df_renamed[df_renamed["county_FIPS"].notnull()]
    county_level_only = county_level_only.sort_values(["state_FIPS","county_FIPS"],ascending=[1,1])
    county_level_only["fips"] = (county_level_only['state_FIPS'].astype(str) + county_level_only['county_FIPS'].astype(str).apply(lambda x: "{}{}".format(((3-(len(x)-2))*'0'),x.split(".")[0]))).astype(int)
    county_level_only["fips"] = county_level_only["fips"]
#     county_level_only = county_level_only.astype('Int64')
    final = county_level_only.drop(['state_FIPS', 'county_FIPS'], axis=1)
    return final

In [12]:
def to_sql(df,table_name,engine):
    with engine.begin() as transaction:
        df.to_sql(table_name, con=transaction, schema='bmrntzdzbrkwdwl6jh7t', if_exists='replace', index=False)

In [9]:
df_county_fips = pd.read_csv("county_fips_master.csv",usecols=["fips","county_name","state_abbr","state_name","long_name"])

In [10]:
to_sql(df_county_fips,'area_info',engine)

In [11]:
file_list = getFiles("Race","1THD1cqlgpxsNj1ZFeQeg255Ne0As6DQL",drive)

In [12]:
race_names = { 
    "StateFIPS":"state_FIPS",
    "CountyFIPS":"county_FIPS",
    "B02001_007":"population_other",
    "B02001_006":"population_hawaiian_pacific_islander",
    "B02001_005":"population_asian",
    "B02001_004":"population_american_indian_alaskan_native",
    "B02001_003":"population_african_american",
    "B02001_002":"population_white",
    "B02001_001":"population_total"
}

In [13]:
df_race = files_to_dataframe(file_list,'([A-Z]){2}.csv',race_names,drive)
df_race.head()

,population_total,population_white,population_african_american,population_american_indian_alaskan_native,population_asian,population_hawaiian_pacific_islander,population_other,fips
12,55049,42311,10196,226,444,31,764,1001
13,199510,172441,18594,1355,1338,0,1766,1003
14,26614,12430,12756,46,129,0,1099,1005
15,22572,17370,4788,81,14,0,8,1007
16,57704,55073,905,201,92,0,501,1009

In [14]:
df_race.dtypes

population_total                             int64
population_white                             int64
population_african_american                  int64
population_american_indian_alaskan_native    int64
population_asian                             int64
population_hawaiian_pacific_islander         int64
population_other                             int64
fips                                         int32
dtype: object

In [15]:
income_names = { 
    "StateFIPS":"state_FIPS",
    "CountyFIPS":"county_FIPS",
    "B19081_001":"mean_income_lowest_quintile",
    "B19081_002":"mean_income_second_quintile",
    "B19081_003":"mean_income_third_quintile",
    "B19081_004":"mean_income_fourth_quintile",
    "B19081_005":"mean_income_highest_quintile",
    "B19081_006":"mean_income_five_percent_quintile",
}

In [16]:
income_file_list = getFiles("Income","1THD1cqlgpxsNj1ZFeQeg255Ne0As6DQL",drive)

In [17]:
df_income = files_to_dataframe(income_file_list,'([A-Z]){2}.csv',income_names,drive)

c:\users\elgue\bi-milanesos-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (951,952,953,954,955,956) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [18]:
df_income.head()

,mean_income_lowest_quintile,mean_income_second_quintile,mean_income_third_quintile,mean_income_fourth_quintile,mean_income_highest_quintile,mean_income_five_percent_quintile,fips
12,12674.0,32987.0,53398.0,82355.0,156840.0,260075.0,1001
13,12617.0,31185.0,51305.0,81152.0,175125.0,302148.0,1003
14,6878.0,18462.0,33649.0,56223.0,111186.0,160192.0,1005
15,10761.0,25582.0,39754.0,60942.0,132274.0,234523.0,1007
16,10759.0,28459.0,46132.0,68964.0,127882.0,199757.0,1009

In [19]:
# to_sql(df_income,'income',engine)

In [20]:
poverty_names = { 
    "StateFIPS":"state_FIPS",
    "CountyFIPS":"county_FIPS",
    "B17001_002":"Population_below_poverty"
}

In [21]:
poverty_file_list = getFiles("Poverty","1THD1cqlgpxsNj1ZFeQeg255Ne0As6DQL",drive)
df_poverty = files_to_dataframe(poverty_file_list,'([A-Z]){2}.csv',poverty_names,drive)
df_poverty.head()

    Population_below_poverty  fips
12                      6697  1001
13                     25551  1003
14                      6235  1005
15                      3390  1007
16                      9441  1009

In [22]:
age_sex_names = { 
    "StateFIPS":"state_FIPS",
    "CountyFIPS":"county_FIPS",
    "B01001_001":"total_population",
    "B01001_002":"total_population_male",
    "B01001_003":"total_population_male_under5",
    "B01001_004":"total_population_male_5-9",
    "B01001_005":"total_population_male_10-14",
    "B01001_006":"total_population_male_15-17",
    "B01001_007":"total_population_male_18-19",
    "B01001_008":"total_population_male_20",
    "B01001_009":"total_population_male_21",
    "B01001_010":"total_population_male_22-24",
    "B01001_011":"total_population_male_25-29",
    "B01001_012":"total_population_male_30-34",
    "B01001_013":"total_population_male_35-39",
    "B01001_014":"total_population_male_40-44",
    "B01001_015":"total_population_male_45-49",
    "B01001_016":"total_population_male_50-54",
    "B01001_017":"total_population_male_55-59",
    "B01001_018":"total_population_male_60-61",
    "B01001_019":"total_population_male_62-64",
    "B01001_020":"total_population_male_65-66",
    "B01001_021":"total_population_male_67-69",
    "B01001_022":"total_population_male_70-74",
    "B01001_023":"total_population_male_75-79",
    "B01001_024":"total_population_male_80-84",
    "B01001_025":"total_population_male_85+",
    "B01001_026":"total_population_female",
    "B01001_027":"total_population_female_under5",
    "B01001_028":"total_population_female_5-9",
    "B01001_029":"total_population_female_10-14",
    "B01001_030":"total_population_female_15-17",
    "B01001_031":"total_population_female_18-19",
    "B01001_032":"total_population_female_20",
    "B01001_033":"total_population_female_21",
    "B01001_034":"total_population_female_22-24",
    "B01001_035":"total_population_female_25-29",
    "B01001_036":"total_population_female_30-34",
    "B01001_037":"total_population_female_35-39",
    "B01001_038":"total_population_female_40-44",
    "B01001_039":"total_population_female_45-49",
    "B01001_040":"total_population_female_50-54",
    "B01001_041":"total_population_female_55-59",
    "B01001_042":"total_population_female_60-61",
    "B01001_043":"total_population_female_62-64",
    "B01001_044":"total_population_female_65-66",
    "B01001_045":"total_population_female_67-69",
    "B01001_046":"total_population_female_70-74",
    "B01001_047":"total_population_female_75-79",
    "B01001_048":"total_population_female_80-84",
    "B01001_049":"total_population_female_85+"
}

In [23]:
age_sex_file_list = getFiles("Age:Sex","1THD1cqlgpxsNj1ZFeQeg255Ne0As6DQL",drive)
df_age_sex= files_to_dataframe(age_sex_file_list,'([A-Z]){2}.csv',age_sex_names,drive)
df_age_sex.head()

,total_population,total_population_male,total_population_male_under5,total_population_male_5-9,total_population_male_10-14,total_population_male_15-17,total_population_male_18-19,total_population_male_20,total_population_male_21,total_population_male_22-24,...,total_population_female_55-59,total_population_female_60-61,total_population_female_62-64,total_population_female_65-66,total_population_female_67-69,total_population_female_70-74,total_population_female_75-79,total_population_female_80-84,total_population_female_85+,fips
12,55049,26877,1680,2003,2112,1327,727,442,464,891,...,1803,805,709,559,920,1115,784,640,344,1001
13,199510,97371,5876,6197,6399,4106,2208,947,1073,3498,...,7030,2848,4851,2743,3898,5066,3192,2517,2495,1003
14,26614,14239,740,875,812,516,281,252,218,764,...,905,269,512,287,475,655,423,324,335,1005
15,22572,12084,471,643,812,569,428,139,144,410,...,737,277,322,178,454,437,402,290,154,1007
16,57704,28572,1818,1644,2211,1230,874,256,402,927,...,1808,823,1157,1025,893,1333,995,779,475,1009

In [24]:
disability_names = { 
    "StateFIPS":"state_FIPS",
    "CountyFIPS":"county_FIPS",
    "B18101_001":"total_disabled"
}

In [25]:
disability_file_list = getFiles("Disability","1THD1cqlgpxsNj1ZFeQeg255Ne0As6DQL",drive)
df_disability = files_to_dataframe(disability_file_list,'([A-Z]){2}.csv',disability_names,drive)
df_disability.head()

    total_disabled  fips
12           54387  1001
13          197046  1003
14           23682  1005
15           20598  1007
16           57255  1009

In [5]:
health_insurance_names = { 
    "StateFIPS":"state_FIPS",
    "CountyFIPS":"county_FIPS",
    "B27001_001":"total",
    "B27001_004":"Male Under 6 years With health insurance coverage",
    "B27001_007":"Male 6 to 17 years With health insurance coverage",
    "B27001_010":"Male 18 to 24 years With health insurance coverage",
    "B27001_013":"Male 25 to 34 years With health insurance coverage",
    "B27001_016":"Male 35 to 44 years With health insurance coverage",
    "B27001_019":"Male 45 to 54 years With health insurance coverage",
    "B27001_022":"Male 55 to 64 years With health insurance coverage",
    "B27001_025":"Male 65 to 74 years With health insurance coverage",
    "B27001_028":"Male 75 years and over With health insurance coverage",
    "B27001_032":"Female Under 6 years With health insurance coverage",
    'B27001_035':"Female 6 to 17 years With health insurance coverage",
    "B27001_038":"Female 18 to 24 years With health insurance coverage",
    "B27001_041":"Female 25 to 34 years With health insurance coverage",
    "B27001_044":"Female 35 to 44 years With health insurance coverage",
    "B27001_047":"Female 45 to 54 years With health insurance coverage",
    "B27001_050":"Female 55 to 64 years:% With health insurance coverage",
    "B27001_053":"Female 65 to 74 years With health insurance coverage",
    "B27001_056":"Female 75 years and over With health insurance coverage"
}

In [8]:
health_insurance_file_list = getFiles("Health Insurance","1THD1cqlgpxsNj1ZFeQeg255Ne0As6DQL",drive)
df_health_insurance = files_to_dataframe(health_insurance_file_list,'([A-Z]){2}.csv',health_insurance_names,drive)
df_health_insurance.head()

,total,Male Under 6 years With health insurance coverage,Male 6 to 17 years With health insurance coverage,Male 18 to 24 years With health insurance coverage,Male 25 to 34 years With health insurance coverage,Male 35 to 44 years With health insurance coverage,Male 45 to 54 years With health insurance coverage,Male 55 to 64 years With health insurance coverage,Male 65 to 74 years With health insurance coverage,Male 75 years and over With health insurance coverage,Female Under 6 years With health insurance coverage,Female 6 to 17 years With health insurance coverage,Female 18 to 24 years With health insurance coverage,Female 25 to 34 years With health insurance coverage,Female 35 to 44 years With health insurance coverage,Female 45 to 54 years With health insurance coverage,Female 55 to 64 years:% With health insurance coverage,Female 65 to 74 years With health insurance coverage,Female 75 years and over With health insurance coverage,fips
12,54387,1982,4957,1990,2569,3000,3503,2815,2001,1296,1853,4711,1851,2868,3407,3488,2982,2573,1689,1001
13,197046,7027,14658,5490,7239,8663,11024,11698,10432,6444,6475,14229,6086,8724,10758,12030,13205,11626,7983,1003
14,23682,929,1845,791,915,888,1200,1309,1165,631,896,1826,770,1016,1027,1446,1550,1383,1016,1005
15,20598,562,1859,751,1124,909,1591,1194,941,465,837,1334,832,960,1006,1294,1259,1056,765,1007
16,57255,1938,4574,2088,2443,2771,3562,3228,2691,1575,1973,4419,1766,2659,3048,3457,3362,3201,2112,1009

In [9]:
df_health_insurance["insured"] = df_health_insurance.filter(regex=(".* With health insurance coverage")).sum(axis=1)
df_health_insurance["uninsured"] = df_health_insurance["total"]-df_health_insurance["insured"]
df_health_insurance = df_health_insurance[["total","insured","uninsured","fips"]]

In [10]:
df_health_insurance.head()

     total  insured  uninsured  fips
12   54387    49535       4852  1001
13  197046   173791      23255  1003
14   23682    20603       3079  1005
15   20598    18739       1859  1007
16   57255    50867       6388  1009

In [28]:
covid_list = getFiles("covid-19 Data NYT","1THD1cqlgpxsNj1ZFeQeg255Ne0As6DQL",drive)

In [29]:
[(i['title'],i['id']) for i in covid_list]

[('us.csv', '1cp5eY6M1adeZiEeWkBkg3Xt7ZxCxroy4'),
 ('us-states.csv', '1StrgmLA3x0ziriv3Q_OjOFi4AkSvvlD-'),
 ('us-counties.csv', '13mcqsdoP4e1cJ8GTVvvffc8IN_2oQfrT')]

In [30]:
id = "13mcqsdoP4e1cJ8GTVvvffc8IN_2oQfrT"
each_file = drive.CreateFile({'id':  "13mcqsdoP4e1cJ8GTVvvffc8IN_2oQfrT"})
file_content = each_file.GetContentString()
file_content = StringIO(file_content)
covid = pd.read_csv(file_content, usecols=['date','fips','cases','deaths'], parse_dates=["date"])
covid["fips"] = covid["fips"].astype("Int64")

In [31]:
covid.dtypes

date      datetime64[ns]
fips               Int64
cases              int64
deaths           float64
dtype: object

In [32]:
covid.isnull().sum()

date          0
fips      11362
cases         0
deaths    27341
dtype: int64

In [33]:
covid.shape

(1241813, 4)

In [36]:
to_sql(df_race,'race',engine)

In [37]:
to_sql(df_income,'income',engine)

In [38]:
to_sql(df_poverty,'poverty',engine)

In [39]:
to_sql(df_age_sex,'age_sex',engine)

In [15]:
to_sql(df_health_insurance,'health_insurance',engine)

In [41]:
to_sql(covid,'covid',engine)

In [ ]:
with engine.connect() as con:
    result = con.execute("SHOW TABLES;")

for row in result:
    print(row)